<div class="b-left-words">
    <h2 class="b-letter moving l1">O</h2>
    <h2 class="b-letter static l1-u">O</h2>
    <h2 class="b-letter moving l2">n</h2>
    <h2 class="b-letter static l2-u">n</h2>
    <h2 class="b-letter moving l3">e</h2>
    <h2 class="b-letter static l3-u">e</h2>
</div>
<!-- add onClick to this image... logo-letters#buttonsToggle -->
<!-- <div><img class="b-logo-image" src="/images/page/logoOLD.png" alt="Logo of One2ManyHats" onclick="logoLettersToggle(this)"></div> -->
<img class="b-logo-image" src="/images/page/logo-banner.png" alt="Logo of One2ManyHats">
<img class="b-logo-overlay" src="/images/page/logo-main.png" alt="logo just number part" onclick="logoLettersToggle(this)">
<div class="b-right-words">
    <h2 class="b-letter moving l4">M</h2>
    <h2 class="b-letter static l4-u">M</h2>
    <h2 class="b-letter moving l5">a</h2>
    <h2 class="b-letter static l5-u">a</h2>
    <h2 class="b-letter moving l6">n</h2>
    <h2 class="b-letter static l6-u">n</h2>
    <h2 class="b-letter moving l7">y</h2>
    <h2 class="b-letter static l7-u">y</h2>
    <h2 class="b-letter moving l8">H</h2>
    <h2 class="b-letter static l8-u">H</h2>
    <h2 class="b-letter moving l9">a</h2>
    <h2 class="b-letter static l9-u">a</h2>
    <h2 class="b-letter moving l10">t</h2>
    <h2 class="b-letter static l10-u">t</h2>
    <h2 class="b-letter moving l11">s</h2>
    <h2 class="b-letter static l11-u">s</h2>
</div>