<div class="nav-wrapper flex-box f-justify-center">
    <div class="main-nav-inner">
      <ul class="flex-box f-justify-center f-align-center">
        <li class="nav-items nav-home">
            <a href="/">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <i class="fa-solid fa-house"></i>
                    <p>[[t: nav-home]]</p>
                </div>
            </a>
        </li>
        <li class="nav-items nav-games">
            <a href="/games">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <i class="fa-solid fa-gamepad"></i>
                    <p>[[t: nav-games]]</p>
                </div>
            </a>
        </li>
        <!-- <li class="nav-items nav-web">
            <a href="/web">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <i class="fa-brands fa-html5"></i>
                    <p>[[t: nav-web]]</p>
                </div>
            </a>
        </li> -->
        <li class="nav-items nav-board-games">
            <a href="/board-games">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <i class="fa-solid fa-dice-six"></i>
                    <p>[[t: nav-board-games]]</p>
                </div>
            </a>
        </li>
        <li class="nav-items nav-about">
            <a href="/about">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <i class="fa-solid fa-address-card"></i>
                    <p>[[t: nav-about-me]]</p>
                </div>
            </a>
        </li>
      </ul>
    </div>
</div>
  