<div class="nav-wrapper" data-controller="navbar" data-navbar-target="mainNav">
    <div class="main-nav-inner">
      <ul class="flex-box f-justify-center f-align-center">
        <!-- if it's not the home page, then add this li -->
        <li class="nav-items nav-home" style="list-style-type: none;">
            <a href="/">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <!-- <i class="fa-solid fa-house"></i> -->
                    <p>Home Icon</p>
                    <p>Home</p>
                </div>
            </a>
        </li>
        <li class="nav-items nav-games" style="list-style-type: none;">
            <a href="/games">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <!-- <i class="fa-solid fa-house"></i> -->
                    <p>Game Icon</p>
                    <p>Home</p>
                </div>
            </a>
        </li>
        <li class="nav-items nav-web" style="list-style-type: none;">
            <a href="/web">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <!-- <i class="fa-solid fa-house"></i> -->
                    <p>Web Icon</p>
                    <p>Home</p>
                </div>
            </a>
        </li>
        <li class="nav-items nav-board-games" style="list-style-type: none;">
            <a href="/board-games">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <!-- <i class="fa-solid fa-house"></i> -->
                    <p>Board Icon</p>
                    <p>Home</p>
                </div>
            </a>
        </li>
        <li class="nav-items nav-about" style="list-style-type: none;">
            <a href="/about">
                <div class="nav-el flex-box d-flex-column f-justify-center">
                    <!-- <i class="fa-solid fa-house"></i> -->
                    <p>About Icon</p>
                    <p>Home</p>
                </div>
            </a>
        </li>
      </ul>
    </div>
</div>
  